body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li span {
    flex-grow: 1;
}

li button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.edit-btn {
    background-color: #FF851B; /* Different color for Edit button */
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px; /* Add some space between buttons */
    cursor: pointer;
}